# ========================
# GENERAL & OS
# ========================
.DS_Store
.idea/
.vscode/
*.log
generated/
unused/

# ========================
# SECRETS & CONFIGS
# ========================
.env
*.local

# ========================
# NODE.JS & HARDHAT (Smart Contracts)
# ========================
node_modules/

# Hardhat files
cache/
artifacts/

# TypeChain files
typechain/
typechain-types/

# solidity-coverage files
coverage/
coverage.json

# Hardhat Ignition default folder
ignition/deployments/chain-31337/

# ========================
# GO (Oracle & P2P Nodes)
# ========================
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

*.csv
*.log*


# Local output of the go build
/out/
oracle/oracle
/checker
/manual_checker

# ========================
# PYTHON & AI (nanoGPT Backend)
# ========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Directory of temp file created from model_service_v2.py
# Avoid to push on Git .in and .out file in every test
tmp_jobs/
*.pth
*.ckpt
/model/checkpoints/

# ========================
# DOCKER & IPFS (Data mounts)
# ========================
/ipfs_data/
/docker_data/
ipfsAgent/
IpfsAgent/ipfs_data/*

chain/scripts/ipfsInsertData.js
chain/scripts/deploy.js
chain/scripts/deploy_queue.js